<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>BSCCS</display-name>
    <servlet-name>BSCCS</servlet-name>
    <servlet-class>bSc.com.BSCCS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BSCCS</servlet-name>
    <url-pattern>/BSCCS</url-pattern>
  </servlet-mapping>
  <display-name>BScCSS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginFrom</display-name>
    <servlet-name>LoginFrom</servlet-name>
    <servlet-class>bSc.com.LoginFrom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFrom</servlet-name>
    <url-pattern>/LoginFrom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>bSc.com.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPdfServlet</display-name>
    <servlet-name>ViewPdfServlet</servlet-name>
    <servlet-class>bSc.com.ViewPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPdfServlet</servlet-name>
    <url-pattern>/ViewPdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppContextListener</display-name>
    <servlet-name>AppContextListener</servlet-name>
    <servlet-class>bSc.com.AppContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppContextListener</servlet-name>
    <url-pattern>/AppContextListener</url-pattern>
  </servlet-mapping>
</web-app>